<!DOCTYPE html>
<html>
<head>
  <title>Paige</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
</head>
<body>



    <div class="layer">
      <img src="https://t4.ftcdn.net/jpg/01/11/96/83/240_F_111968333_pJxKqb45VUpCEMGaodjcJtncCOP91Gag.jpg" alt="">
    </div>


  <!-- Render navigation bar -->

  <%= render "layouts/navigation" %>
  <h1 class="title">Paige Dot Com</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
