<!DOCTYPE html>
<html>
<head>
  <title>Paige</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
<link href="https://fonts.googleapis.com/css?family=Economica|Open+Sans" rel="stylesheet">
</head>
<body>



  <!--  <div class="layer">
      <img src="https://thumb9.shutterstock.com/mosaic_250/81255/114668266/stock-photo-seamless-white-textured-paper-background-texture-pattern-for-continuous-replicate-114668266.jpg" alt="">
    </div> -->


  <!-- Render navigation bar -->

  <%= render "layouts/navigation" %>
  <h1 class="title">Paige Dot Com</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
